.main_chat
  .main-header
    .main-header__left-box
      %ul.main-header__left-box__name
        = @group_name
      %ui.main-header__left-box__member
        = @group_member_name
    .group
      = link_to edit_group_path(1) do
        Edit
  .messages
    = render @messages
    .message
      .upper-message
        .upper-message__user-name
        .upper-message__date
      .lower-meesage
        .lower-message__content
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'